<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>gq1x2</display-name>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>SHOW_COUNTER_BD_CONNECTIONS</param-name>
        <param-value>false</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/WEB-INF/Index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ModelReportServlet</servlet-name>
        <servlet-class>com.gq2.servlets.ModelReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
        <url-pattern>/WEB-INF/index.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelReportServlet</servlet-name>
        <url-pattern>/ModelReportServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
	    30
	</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index</welcome-file>
    </welcome-file-list>
    <jsp-config>
    </jsp-config>
    <resource-ref>
        <description>Base de Datos gq1x2</description>
        <res-ref-name>jdbc/gq1x2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
