/* 
    Document   : pruebas
    Created on : 28-ago-2009, 10:29:33
    Author     : ESTHER
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.button-short{

    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 14pt;
}

.page-title{

    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.table-title{

    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.col-left{
    text-align: left;
}

.col-center{
    text-align: center;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}